.submenu {
    margin-top: 5px;
    list-style: none;
}

.submenuItem {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 5px;
    cursor: pointer;
    margin-left: 10px;
}

.submenuItem:hover {
    color: var(--accent-blue-light);
    background-color: var(--light-gray);
}

.submenuItem .icon {
    font-size: 1.2rem;
    margin-right: 10px;
    color: var(--accent-blue-light);
}

.selected {
    background-color: var(--background);
    color: var(--accent-blue-light);
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}

.selected .icon {
    font-size: 1.2rem;
    margin-right: 10px;
    color: var(--accent-blue-light);
}