.nav {
    flex-grow: 1;
}

.nav ul {
    list-style: none;
    padding: 10px;
    margin: 0;
}

.navItem {
    cursor: pointer;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.navItem:hover {
    background-color: var(--light-gray);
}

.menuItem {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon {
    font-size: 1.2rem;
    margin-right: 10px;
    color: var(--accent-blue);
}

.chevron {
    margin-left: auto;
    font-size: 0.8rem;
    color: var(--medium-gray);
    transition: transform 0.3s ease;
}
